<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bioid.authenticator"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- A front-facing camera is required for the facial recognition process. -->
    <uses-feature android:name="android.hardware.camera.front"/>

    <!-- Camera access needed for the facial recognition. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Internet access needed to communicate with the BioID backend services. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".facialrecognition.verification.VerificationActivity"/>
        <activity android:name=".facialrecognition.enrollment.EnrollmentActivity"/>

    </application>

</manifest>
